<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>New Bug</servlet-name>
        <jsp-file>/WEB-INF/inputNewBug.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>New Bug</servlet-name>
        <url-pattern>/inputNewBug.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Process New Bug</servlet-name>
        <jsp-file>/WEB-INF/processNewBug.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Process New Bug</servlet-name>
        <url-pattern>/processNewBug.do</url-pattern>
    </servlet-mapping>



</web-app>

