<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.x460dot11.servlet.ServletLogin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Welcome Page</servlet-name>
        <jsp-file>/WEB-INF/welcome.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Welcome Page</servlet-name>
        <url-pattern>/welcome.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>New Bug</servlet-name>
        <jsp-file>/WEB-INF/inputNewBug.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>New Bug</servlet-name>
        <url-pattern>/inputNewBug.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Display All Bugs</servlet-name>
        <jsp-file>/WEB-INF/displayAllBugs.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Display All Bugs</servlet-name>
        <url-pattern>/displayAllBugs.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process New Bug</servlet-name>
        <jsp-file>/WEB-INF/processNewBug.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Process New Bug</servlet-name>
        <url-pattern>/processNewBug.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Display A Bug</servlet-name>
        <jsp-file>/WEB-INF/editBug.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Display A Bug</servlet-name>
        <url-pattern>/editBug.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>Processes request to edit a bug</description>
        <display-name>Process Edit Bug</display-name>
        <servlet-name>ServletProcessEditBug</servlet-name>
        <servlet-class>com.x460dot11.servlet.ServletProcessEditBug</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletProcessEditBug</servlet-name>
        <url-pattern>/processEditBug.do</url-pattern>
    </servlet-mapping>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    
    <security-role>
        <role-name>bug-qa</role-name>
    </security-role>
    <security-role>
        <role-name>bug-mngr</role-name>
    </security-role>
    <security-role>
        <role-name>bug-dev</role-name>
    </security-role>
    
    <security-constraint>
        <web-resource-collection>

            <web-resource-name>UpdateRecipes</web-resource-name>
            <url-pattern>/*</url-pattern>

            <http-method>GET</http-method>
            <http-method>POST</http-method>

        </web-resource-collection>

        <auth-constraint>
            <role-name>bug-qa</role-name>
            <role-name>bug-mngr</role-name>
            <role-name>bug-dev</role-name>
        </auth-constraint>


    </security-constraint>
    
    
    
    
    
    

</web-app>